<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <!-- Create a Form -->
        <form method="POST">
            <!-- Security token by Django -->
            {% csrf_token %}
            Crear food
            <!-- {{ form.as_p }} -->
            <input type="text" name="salad" placeholder="salad"/>
            <input type="text" name="entrance" placeholder="entrance"/>
            <input type="text" name="desert" placeholder="desert" />
            <!-- <input type="hidden" name="menu" value="desert" /> -->
            <button type="submit">Crear</button>
            <a href="/">Cancel </a>
        </form>
    </div>
</body>