<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food</title>
</head>
<body>
    <div>
        <!-- {{ forms.as_p }} -->
        {{ date }}
        {% for form in forms %}
        <p> {{ form.salad }} </p> 
        <a href="/food/{{ id }}/food/edit/{{ form.id }}">editar</a>
        <form action="" method="POST">
            {% csrf_token %}
            <button type="submit">Enviar</button>
        </form>

        <!-- <p> {{ food.salad }} </p>
        <p> {{ food.entrance }} </p>
        <p> {{ food.desert }} </p> -->
        <!-- <p> {{ food.date }} & {{ food.id }} & {{ food.food.salad }}</p> -->
        {% endfor %}
    </div>
</body>
</html>