<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu list</title>
</head>
<body>
    <div>
        <!-- {{ forms.as_p }} -->
        {% for form in forms %}
        
        <p>{{ form.date }}</p>
        <a href="/food/{{ form.id }}">edit</a>
        
        <form method="POST">
            {% csrf_token %}
            <input type="hidden" name="menu_id" value="{{ form.id }}">
            <button type="submit">Send menu to employees</button>
        </form>
        {% endfor %}
    </div>
</body>
</html>