<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose your meal</title>
</head>
<body>
    <div>
        <!-- {{ forms.as_p }} -->
        {% for form in forms %}
        <h4>Option {{ forloop.counter }}</h4>
        <p> {{ form.salad }} </p>
        <p> {{ form.entrance }} </p>
        <p> {{ form.desert }} </p>
        <br>
        <form method="POST">
            {% csrf_token %}
            <input type="text" name="comments" placeholder="agrega comentarios">
            <input type="hidden" value="{{ form.id }}" name="id">
            <br>
            <button type="submit">Choose</button>
        </form>
        <br>

        {% endfor %}
    </div>
</body>
</html>